node_modules
firestore.js
SSO_DEV_client_secret_652139912087-rntpvgpq990ikqklig3f94g6m3vuph55.apps.googleusercontent.com
SSO_Prod_client_secret_652139912087-h740j67la6t8r0quhlq4gebrvogqaa5c.apps.googleusercontent.com